<template>
  <div v-if='clientID !== undefined' class='user-info'>
    <label class='bold'>{{customerInformation.name}} {{customerInformation.surname}}</label>
    <label class='light'>{{customerInformation.nipt}}</label>
    <label class='light'>{{customerInformation.address}}</label>
    <label class='light'>{{customerInformation.tel}}</label>
  </div>
</template>

<script>
export default {
  name: 'ClientInformation',
  props: {
    clientID: Number,
  },
  data() {
    return {
      clients: [
        {
          id: 1,
          name: 'One',
          surname: 'First',
          nipt: 'FR111111FR',
          address: 'Rruga Shemsi Haka',
          tel: '+355 23 456 6767',
        },
        {
          id: 2,
          name: 'Two',
          surname: 'Second',
          nipt: 'ND222222ND',
          address: 'Rruga Siri Kodra',
          tel: '+355 45 886 1007',
        },
        {
          id: 3,
          name: 'Three',
          surname: 'Third',
          nipt: 'RD333333RD',
          address: 'Rruga Asim Vokshi',
          tel: '+355 89 046 4421',
        },
      ],
    };
  },
  computed: {
    // a computed getter
    customerInformation() {
      // `this` points to the vm instance
      return this.clients.filter(client => client.id === this.clientID)[0]
    },
  },
};
</script>

<style scoped>
.user-info {
    display: flex;
    flex-direction: column;
}

.bold {
    font-size: 14px;
    font-weight: 700;
}

.light {
    font-size: 14px;
    color: #707070;
}
</style>