<template>
  <div class="main-div">
    <div class="invoice-holder">
      <!-- Invoice Number -->
      <div class="invoice-number">Invoice {{ invoiceNo }}</div>

      <!-- First Row -->
      <div class="first-row">
        <div>
          <v-select
            class="client-select"
            :items="customers"
            item-text="name"
            item-value="id"
            label="Select a client"
            outlined
            dense
            @change="displayInformation"
          >
          </v-select>
          <ClientInformation :clientID="clientID" />
        </div>
        <InvoiceDate :date.sync="date" :dueDate.sync="dueDate" />
      </div>

      <!-- Invoice Table -->
      <ItemTable :invoiceNo="invoiceNo" :itemArray="items" />

      <!-- Total -->
      <Total :items="items" />
    </div>
    <!-- Footer -->
    <div class="bottom-ribbon">
      <div class="center-bottom">
        <v-btn elevation="2">Cancel</v-btn>
        <div class="right-buttons">
          <v-btn elevation="2" class="draft-button">Save as draft</v-btn>
          <v-btn elevation="2" color="primary">Save the invoice</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClientInformation from "./ClientInformation";
import InvoiceDate from "./InvoiceDate";
import ItemTable from "./ItemTable";
import Total from "./Total";

export default {
  name: "Invoice",
  data() {
    return {
      clientID: undefined,
      date: new Date().toISOString().substr(0, 10),
      dueDate: new Date().toISOString().substr(0, 10),
      invoiceNo: 123,
      // Take from API on mounted
      customers: [
        { id: 1, name: "Klienti 1" },
        { id: 2, name: "Klienti 2" },
        { id: 3, name: "Klienti 3" },
      ],
      // Take from API on mounted
      items: [
        {
          id: 1,
          name: "",
          qty: 0,
          unitCost: 0,
          discount: ["Lek", "%"],
          discountType: "Lek",
          discountAmount: 0,
          percentDiscountAmnt: 0,
        },
      ],
    };
  },
  components: {
    ClientInformation,
    InvoiceDate,
    ItemTable,
    Total,
  },
  mounted: function () {
    // TODO: API CALL TO GET CUSTOMERS AND ITEMS
  },
  methods: {
    displayInformation(id) {
      this.clientID = id;
    },
  },
  watch: {
    items: function () {
      // TODO - Display tax array
    },
  },
};
</script>

<style scoped>
.main-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.invoice-holder {
  position: relative;
  width: 1250px;
  height: 80vh;
  min-height: 600px;
  padding: 25px;
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 5px 0px #00000017;
  -moz-box-shadow: 0px 5px 5px 0px #00000017;
  box-shadow: 0px 5px 5px 0px #00000017;
}

.invoice-number {
  font-weight: bold;
  margin: 0 0 10px 0;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.client-select {
  width: 200px;
}

.bottom-ribbon {
  position: absolute;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #d1d1d1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.center-bottom {
  width: 1250px;
  display: flex;
  justify-content: space-between;
}

.draft-button {
  margin: 0 25px 0 0;
  color: red;
}
</style>