<template>
  <div class="dates">
    <!-- First Datepicker -->
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="startDate"
          label="Due Date"
          prepend-icon="mdi-calendar"
          readonly
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="startDate" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
        <v-btn text color="primary" @click="$refs.menu.save(startDate)">
          OK
        </v-btn>
      </v-date-picker>
    </v-menu>

    <!-- Second Datepicker -->
    <v-menu
      ref="menu1"
      v-model="menu1"
      :close-on-content-click="false"
      transition="scale-transition"
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="endDate"
          label="Due Date"
          prepend-icon="mdi-calendar"
          readonly
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="endDate" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="menu1 = false"> Cancel </v-btn>
        <v-btn text color="primary" @click="$refs.menu1.save(endDate)">
          OK
        </v-btn>
      </v-date-picker>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: "InvoiceDate",
  props: ["date", "dueDate"],
  data() {
    return {
      startDate: this.date,
      endDate: this.dueDate,
      menu: false,
      menu1: false,
    };
  },
  watch: {
    startDate: function (newDate) {
      this.$emit("update:date", newDate);
    },
    endDate: function (newDate) {
      this.$emit("update:dueDate", newDate);
    },
  },
};
</script>

<style scoped>
</style>