<template>
  <div class="table-holder">
    <label class="invoice-label">Invoice {{ invoiceNo }}</label>
    <hr class="line" />
    <v-simple-table class="table" fixed-header height="150px">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Unit Cost</th>
            <th class="text-left" colspan="2">Discount</th>
            <th class="text-left">Qty.</th>
            <th class="text-left">Total</th>
            <th class="text-left"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>
              <input v-model="item.name" class="input" type="text" />
            </td>
            <td>
              <input
                v-model="item.unitCost"
                class="input"
                min="0"
                type="number"
                id="unit-cost"
              />
            </td>
            <td>
              <input
                v-if="item.discountType === 'Lek'"
                v-model="item.discountAmount"
                class="input"
                type="number"
                min="0"
                id="discount"
                @input="updateDisPercentage(item, item.discountAmount)"
              />
              <input
                v-else
                v-model="item.percentDiscountAmnt"
                class="input"
                type="number"
                min="0"
                id="discount"
                @input="updateDisAmount(item, item.percentDiscountAmnt)"
              />
            </td>
            <td>
              <v-select
                v-model="item.discountType"
                :items="item.discount"
                outlined
                dense
                hide-details
              ></v-select>
            </td>
            <td>
              <input
                v-model="item.qty"
                class="input quantity"
                type="number"
                min="0"
                id="quantity"
              />
            </td>
            <td class="total">
              $
              <input
                :value="calculateSubTotal(item)"
                class="readonly-input"
                readonly
                type="number"
                id="total"
              />
            </td>
            <td class="text-left">
              <v-btn @click="deleteItem(item)" elevation="1" icon>X</v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-btn color="primary" elevation="0" class="button" @click="addRow()">Add new item</v-btn>
    <hr class="line" />
  </div>
</template>

<script>
export default {
  name: "ItemTable",
  props: {
    invoiceNo: Number,
    itemArray: Array,
  },
  data() {
    return {
      items: this.itemArray,
    };
  },
  methods: {
    addRow() {
      let item = {
        id: Math.random(0, 100),
        name: "",
        qty: 0,
        unitCost: 0,
        discount: ["Lek", "%"],
        discountType: "Lek",
        discountAmount: 0,
        percentDiscountAmnt: 0,
      };
      this.items.push(item);
    },
    calculateSubTotal(item) {
      if (item.discountAmount <= 0)
        return (item.qty * item.unitCost).toFixed(2);
      else 
        return (item.qty * (item.unitCost - item.discountAmount)).toFixed(2);
    },
    updateDisAmount(item, percentage,) {
      item.discountAmount = (item.unitCost * percentage / 100).toFixed(2)
    },
    updateDisPercentage(item, amount) {
      item.percentDiscountAmnt = ((amount / item.unitCost) * 100).toFixed(2)
    },
    deleteItem(item) {
      let index = this.items.findIndex((temp) => temp.id === item.id);
      this.items.splice(index, 1);
    },
  },
  watch: {},
};
</script>

<style scoped>
.table-holder {
  margin: 20px 0px 0px 0px;
}

.invoice-label {
  font-size: 19px;
  font-weight: 600;
  color: #707070;
}

.table {
  margin: 10px 0 0 0;
}

.input {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 8.5px 10px;
  background: white;
}

.readonly-input:focus {
  outline: none;
  border: none;
}

.input:focus {
  outline: none;
  border: 2px solid #2b81d6;
}

.button {
  margin: 20px 0;
}

.line {
  border: none;
  height: 2px;
  color: #a7a7a7;
  background: #a7a7a7;
}

.quantity {
  width: 100px;
}

.total {
  display: flex;
  align-items: center;
}

#total {
  margin: 0 0 0 5px;
}

#discount {
  width: 150px;
}
</style>