<template>
  <div class="total-holder">
    <v-row no-gutters>
      <v-col>Sub Total:</v-col>
      <v-col>$ {{ calculateSubTotal.toFixed(2) }}</v-col>
    </v-row>
    <v-row no-gutters>
      <v-col>Tax (20%):</v-col>
      <v-col>$ {{ (calculateSubTotal * 0.2).toFixed(2) }}</v-col>
    </v-row>
    <v-row no-gutters>
      <v-col>Total:</v-col>
      <v-col
        >$ {{ (calculateSubTotal + calculateSubTotal * 0.2).toFixed(2) }}</v-col
      >
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Total",
  props: {
    items: Array,
  },
  computed: {
    calculateSubTotal: function () {
      return parseFloat(
        this.items.reduce(
          (accumulator, currentValue) =>
            accumulator +
            currentValue.qty *
              (currentValue.unitCost - currentValue.discountAmount),
          0
        )
      );
    },
  },
};
</script>

<style scoped>
.total-holder {
  position: absolute;
  right: 0px;
  width: 290px;
  margin: 20px 0 0 0;
}
</style>