<template>
  <v-app>
    <div id='app'>
      <Invoice />
    </div>
  </v-app>
</template>

<script>
import Invoice from './components/Invoice';

export default {
  name: 'App',
  components: { Invoice },
};
</script>

<style>
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
